.pill {
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  text-decoration: none;

  //maybe later
  //   &:hover {
  //     background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  //   }

  &.success {
    background: light-dark(#00ad78, #a9f2cd);
    color: light-dark(#005128, #005138);
  }

  &.warn {
    background: light-dark(#e7ab00, #fbcf89);
    color: light-dark(#774b04, #5e4200);
  }

  &.error {
    background: var(--mat-sys-error);
    color: var(--mat-sys-error-container);
  }
}

//maybe later
// .pill-translucent {
//   background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
// }

.pill-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;

  svg {
    margin-inline-start: 0.25rem;
  }
}
