<mat-card appearance="outlined" class="queue-card">
  <mat-card-header class="queue-header-container">
    <mat-card-title class="queue-header"> Queue Status </mat-card-title>
    <!-- <mat-card-subtitle class="signup-subheader">
      Fill out the form below to get your VOD reviewed.
    </mat-card-subtitle> -->
    <div class="availability">
      <div class="pill success">Remaining spots: 1/8</div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="vod-status">
      <span class="active">1</span> VOD(s) active and waiting for review
    </p>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <p class="vod-status">
      <span class="pending">0</span> VOD reqests pending payment
    </p>
  </mat-card-content>
</mat-card>
