@use "@angular/material" as mat;
@use "./app/styles/_theme-colors" as my-theme;
@use "./app/styles/_pills";
* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  height: 100vh;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: (
        plain-family: Inter,
        brand-family: Inter,
        bold-weight: 600,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );

  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}

body {
  margin: 0;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    border-radius: 9999px;
    background: radial-gradient(
      circle,
      my-theme.$bg-gradient-1,
      my-theme.$bg-gradient-2,
      transparent 65%
    );
    filter: blur(128px);
    z-index: -1;
  }
}

:root {
  @include mat.form-field-overrides(
    (
      outlined-outline-color: var(--mat-sys-surface-container-high),
      outlined-container-shape: 8px,
      outlined-input-text-placeholder-color: my-theme.$muted-text,
    )
  );

  @include mat.card-overrides(
    (
      title-text-size: var(--mat-sys-headline-small-size),
      title-text-weight: var(--mat-sys-label-large-weight-prominent),
      subtitle-text-weight: var(--mat-sys-headline-medium-weight),
      subtitle-text-size: var(--mat-sys-label-large-size),
      subtitle-text-color: my-theme.$muted-text,
      outlined-container-color: var(--mat-sys-surface-container-low),
      outlined-outline-color: var(--mat-sys-surface-container-high),
    )
  );
}

.mdc-text-field--outlined {
  background-color: var(--mat-sys-surface-dim);
  border-radius: 8px;
}
